<table>
  <thead>
      <tr>
        <th>id</th>
        <th>column</th>
        <th>row</th>
      </tr>
    </thead>
    <tbody>
      <% @sheets.each do |sheet|%>
      <tr>
        <td><%= link_to sheet.id, ("/movies/#{params[:movie_id]}/schedules/#{sheet.id}/reservations/new")  %></td>
        <td><%= sheet.column %></td>
        <td><%= sheet.row %></td>
      </tr>
      <% end %>
    </tbody>
</table>
<%= params[:schedule_id] %>